$styleguide__header-size: rem(80);
$styleguide__header-size-desktop: rem(144);

.styleguide__headline {
  margin-bottom: rem(40);
  padding-bottom: rem(20);
  border-bottom: rem(1) solid color(border, default);
}

.styleguide {
  .header,
  .header .container {
    height: $styleguide__header-size;

    @include mq(desktop-xs) {
      height: $styleguide__header-size-desktop;
    }
  }

  .header {
    background: color(primary, default);
    z-index: zindex(infinity);

    h1, span {
      color: #fff;
      line-height: 1;
    }

    span {
      display: block;
      margin-bottom: rem(10);
    }
  }

  .header__text {
    margin-left: rem(15);

    @include mq(tablet) {
      margin-left: rem(30);
    }
  }

  .header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.styleguide-spacing {
  margin: rem(60) 0;

  @include mq(tablet) {
    margin: rem(80) 0;
  }

  @include mq(desktop-l) {
    margin: rem(120) 0;
  }

  &--no-top {
    margin-top: 0;
  }
}

// Title
.styleguide__section-title {
  margin-bottom: rem(40);
  padding-bottom: rem(20);
  border-bottom: rem(1) solid color(border, default);
}

// Colors
.styleguide-color__label {
  display: block;
  margin-bottom: gutter(s);
  pointer-events: none;
}

.styleguide-color__swatch {
  width: 100%;
  padding-top: calc(591.44 / 1127.34 * 100%);
  aspect-ratio: 16 / 9;
  border-radius: radius(default);
  cursor: url('data:image/svg+xml;base64, PHN2ZyB3aWR0aD0iNjIiIGhlaWdodD0iNjIiIHZpZXdCb3g9IjAgMCA2MiA2MiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGNpcmNsZSBjeD0iMzEiIGN5PSIzMSIgcj0iMzEiIGZpbGw9IiNFRDBGMEYiLz4KPHBhdGggZD0iTTM1IDMyLjYzMzhMMzYuOTMwMiAzNkw0OSAxNUg0NS4xMzk3TDM1IDMyLjYzMzhaIiBmaWxsPSJ3aGl0ZSIvPgo8cGF0aCBkPSJNMzIgMjcuNTU4M0wzMy45MzIxIDMxTDQzIDE1SDM5LjExMDFMMzIgMjcuNTU4M1oiIGZpbGw9IndoaXRlIi8+CjxwYXRoIGQ9Ik00OSA0MUgxM1Y0NEg0OVY0MVoiIGZpbGw9IndoaXRlIi8+CjxwYXRoIGQ9Ik0zMS4yMzA3IDE4LjM2NjJMMjUgMjkuMjY3NkwxOC43NjkyIDE4LjM2NjJIMzEuMjMwN1pNMzcgMTVIMTNMMjUgMzZMMzcgMTVaIiBmaWxsPSJ3aGl0ZSIvPgo8L3N2Zz4K'), pointer;
  border: rem(1) solid color(border, default);

  @include mq(desktop-s) {
    aspect-ratio: 1 / 1;
  }


  &:hover {
    animation-name: flash;
    animation-duration: .2s;
  }
}
.styleguide-color__info {
  margin-top: gutter(s);
  font-weight: weight(bold);
}
.styleguide-color {
  @include mq(tablet) {
    grid-column: span 6;
  }

  @include mq(desktop-s) {
    grid-column: span 2;
  }
}

// Buttons
.styleguide-buttons {
  .button:not(.button--square) {
    width: 100%;
  }
  .styleguide__button-wrap {
    @include mq(tablet) {
      grid-column: span 4;
    }

    &:nth-child(4) {
      @include mq(tablet) {
        grid-column: span 8;
      }
      @include mq(desktop-xs) {
        grid-column: span 4;
      }
    }
  }
}

// Typography

// .styleguide-typography {}
.styleguide-typography__item {
  border-bottom: rem(1) solid color(border, default);
  padding-bottom: rem(36);
  margin-bottom: rem(36);

  @include mq(desktop-xs) {
    padding-bottom: rem(60);
    margin-bottom: rem(60);
  }
}
.styleguide-typography__item-name {
  font-size: rem(12);
  text-transform: uppercase;

  @include mq(tablet) {
    grid-column: span 2;
  }

  @include mq(desktop-xl) {
    grid-column: span 1;
  }
}
.styleguide-typography__item-example {

  @include mq(tablet) {
    grid-column: span 5;
  }
}
.styleguide-typography__info {
  @include mq(tablet) {
    grid-column: span 5;
  }
  @include mq(desktop-xl) {
    grid-column: span 6;
  }
}
.styleguide-typography__info-item {
  margin-top: rem(20);

  @include mq(desktop-xs) {
    margin-top: rem(40);
  }

  &:first-child {
    margin-top: 0;
  }
  
  span {
    &:first-child {
      font-size: rem(12);
      display: block;
      text-transform: uppercase;
      margin-bottom: rem(10);
    }
  }

  em, strong {
    font-weight: weight(regular);
    line-height: 1.5;

    display: block;

    @include mq(desktop-xs) {
      display: inline-block;
    }
  }

  strong {
    color: color(secondary, default);
  }

  em {
    color: color(headline, default);
    margin-right: rem(10);
  }
}

// Tables 
.styleguide-tables {
  .table-wrap {
    @include mqBetween(phone-xs, tablet) {
      max-width: 100%;
      overflow: hidden;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;

      &::-webkit-scrollbar {
        height: rem(8);
      }

      .table {
        width: rem(800);
      }
    }
  }
}

// Inputs
.styleguide-inputs {
  .input-group {
    @include mq(tablet) {
      grid-column: span 6;
    }
    @include mq(desktop-xs) {
      grid-column: span 6;
    }
    @include mq(desktop-s) {
      grid-column: span 4;
    }
    @include mq(desktop-m) {
      grid-column: span 2;
    }
  }

  .input-group--textarea {
    @include mq(desktop-xs) {
      grid-column: span 6;
    }
  }
}


// Background
.styleguide-background-primary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: color(primary, default);
  padding: rem(20);
}

// layout
.styleguide {
  .layout {
    margin-bottom: rem(40);

    .layout__column {
      min-height: rem(100);
      background: color(secondary, default);
    }

    &:nth-child(3) {
      .layout__column {
        background: color(primary, default);
      }
    }

    &:nth-child(4) {
      .layout__column {
        background: color(primary, default);
      }
    }

    &:nth-child(5) {
      .layout__column {
        background: color(primary, default);
      }
    }
  }
}


// Disabled
.styleguide--disabled {
  cursor: not-allowed;
  position: relative;

  &:before,
  &:after {
    position: absolute;
  }

  &:before {
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: zindex(bottom);
    opacity: .6;
  }

  &:after {
    content: 'NOT AVAILABLE';
    top: 0;
    left: 0;
    width: 100%;
    z-index: zindex(top);
    text-shadow: rem(-2) rem(-2) 0 #fff, rem(2) rem(-2) 0 #fff, rem(-2) rem(2) 0 #fff, rem(2) rem(2) 0 #fff;
    text-align: center;

    @extend .headline1;
  }
}


@keyframes flash {
  0% {transform: translateY(0)}
  100% {transform: translateY(rem(-5))}
}
