////
/// @group Typography
////

/// Text theme mixin. Can be used as standalone.
@mixin text-theme(
  $FontSize,
  $LineHeight,
  $FontFamily: '',
  $Color: color(text, default),
  $FontWeight: type(body1, weight),
  $TextTransform: none,
) {
  line-height: $LineHeight;
  color: $Color;
  font-weight: $FontWeight;
  font-size: $FontSize;
  text-transform: $TextTransform;

  @if $FontFamily != '' {
    font-family: $FontFamily;
  }
}

/// Text body 1 styles.
.body1 {
  @include text-theme(
    $FontSize: type(body1, size),
    $LineHeight: type(body1, lineHeight),
  );
}

/// Text body 2 styles.
.body2 {
  @include text-theme(
    $FontSize: type(body2, size),
    $LineHeight: type(body2, lineHeight),
  );
}

/// Text styling.
.text-styling {
  p {
    color: color(text, default);
  }
  
  strong, b {
    font-weight: weight(bold);
  }

  em, i {
    font-style: italic;
  }

  @extend .list-style;
}

.list-style {
  ul,
  ol {
    display: block;
    padding: 0;
    color: color(text, default);
    font-weight: type(body2, weight);
    margin: 0 0 gutter(l) 0;

    // Hafa hringi sem default bullet

    li {
      position: relative;
      margin-top: rem(15);
      line-height: type(body2, lineHeight);

      ul,
      ol {
        margin-top: rem(20);
        margin-bottom: rem(20);
      }

      &:first-child {
        margin-top: 0;
      }

      &:before {
        position: absolute;
        left: rem(0);
      }
    }

    p {
      margin-bottom: 0;
    }
  }

  // Unordered list
  ul {
    list-style: none;

    li {
      padding-left: rem(42);

      &:before,
      &:after {
        content: '';
        position: absolute;
        border-radius: radius(circle);
      }

      &:before {
        top: rem(2);
        left: 0;
        width: rem(21);
        height: rem(21);
        background: transparent;
        border: rem(1) solid color(border, default);
      }

      &:after {
        top: rem(10);
        left: rem(8);
        width: rem(5);
        height: rem(5);
        background: color(primary, default);
      }
    }
  }

  // Ordered list
  ol {
    li {
      &::marker {
        font-size: rem(18);
        color: color(primary, default);
        font-family: font(default);
        font-weight: weight(bold);
      }

      ol {
        padding-left: rem(42);
      }
    }
  }

  &.list-style--alt {
    ul li {

      &:before,
      &:after {
        content: '';
      }

      &:after {
        display: none;
      }

      &:before {
        content: url('data:image/svg+xml;base64, PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAyMCAxNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0wLjUgN0MwLjUgNi43MjM4NiAwLjcyMzg1OCA2LjUgMSA2LjVIMTlDMTkuMjc2MSA2LjUgMTkuNSA2LjcyMzg2IDE5LjUgN0MxOS41IDcuMjc2MTQgMTkuMjc2MSA3LjUgMTkgNy41SDFDMC43MjM4NTggNy41IDAuNSA3LjI3NjE0IDAuNSA3WiIgZmlsbD0iIzI4NzNDOCIvPgo8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTEyLjY0NjQgMTMuMzUzNkMxMi40NTEyIDEzLjE1ODMgMTIuNDUxMiAxMi44NDE3IDEyLjY0NjQgMTIuNjQ2NEwxOC4yOTI5IDdMMTIuNjQ2NCAxLjM1MzU1QzEyLjQ1MTIgMS4xNTgyOSAxMi40NTEyIDAuODQxNzA5IDEyLjY0NjQgMC42NDY0NDZDMTIuODQxNyAwLjQ1MTE4NSAxMy4xNTgzIDAuNDUxMTg1IDEzLjM1MzYgMC42NDY0NDZMMTkuNzA3MSA3TDEzLjM1MzYgMTMuMzUzNkMxMy4xNTgzIDEzLjU0ODggMTIuODQxNyAxMy41NDg4IDEyLjY0NjQgMTMuMzUzNloiIGZpbGw9IiMyODczQzgiLz4KPC9zdmc+Cg==');
        position: absolute;
        top: rem(1);
        left: 0;
        width: auto;
        height: auto;
        background: transparent;
        border: 0;
      }
    }
  }
}

.bold {
  font-weight: weight(bold);
}
