@use 'vars';
@use 'reset';
@use 'global';


.button {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 58px;

  // transform / transition
  transform: translateY(0);
  transition: color .4s ease-in-out, background-color .4s ease-in-out, border-color .4s ease-in-out;

  // typography
  font-size: 16px;
  line-height: 26px;
  // alignment
  vertical-align: middle;

  // border
  border-style: solid;
  border-width: 2px;
  border-color: transparent;

  // background: #fff;
  // color: #000;

  background: vars.$primary;
  color: #fff;

  // ! this helps with getting the correct event.target in javascript clicks.
  > * {
    pointer-events: none;
  }

  svg,
  svg path {
    transition: fill .4s ease-in-out;
  }

  &:not([disabled]):active {
    transform: translateY(1px);
  }
}

// .my-toaster__toast {
//   color: #000;
//   background: #fff;
// }

.toaster-buttons {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  gap: 12px;
}

.my-toaster {
  gap: 12px;
}

.my-toaster__toast {
  display: block;
  position: relative;
  font-family: "Arial", sans-serif;
  overflow: hidden;

  border-radius: 8px;
  font-size: 14px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  color: #fff;
  min-width: 200px;

  // border-radius: 4px;
  // box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.my-toaster__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
}

.my-toaster__toast--default {
  background-color: #64748b; /* Tailwind slate-500 */
}

.my-toaster__toast--success {
  background-color: #10b981; /* Tailwind green-500 */
}

.my-toaster__toast--error {
  background-color: #ef4444; /* Tailwind red-500 */
}

.my-toaster__toast--warning {
  background-color: #f59e0b; /* Tailwind amber-500 */
}

.my-toaster__toast--info {
  background-color: #3b82f6; /* Tailwind blue-500 */
}

.my-toaster__toast-icon {
  margin-right: 12px;
}


.my-toaster__toast-close {
  position: absolute;
  top: 8px;
  right: 8px;
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
