$toast-offset: rem(20);

.toaster-bg {
  gap: rem(10);

  @include mqBetween(phone-xs, phone-m) {
    width: calc(100% - #{$toast-offset * 2})
  }

  @include mq(tablet) {
    width: 70%;
  }

  @include mq(desktop-xs) {
    width: 50%;
  }

  @include mq(desktop-m) {
    width: 30%;
  }
}

.toaster-bg__toast {
  background: #2a2a2a;
  // padding: rem(24) rem(30) rem(30);
  padding: rem(30);
  display: block;
  align-items: center;
  max-width: calc(100% - #{$toast-offset});
  border-radius: rem(9);
  position: relative;
  color: #fff;
  box-shadow: 0 0 rem(15) rgba(0,0,0,.1);
  overflow: hidden;
  text-align: left;
  border: rem(1) solid rgba(0,0,0,0.1);
  transition: box-shadow .3s ease-out, border-color .3s ease-out;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;

    background: green;
    opacity: .4;
    width: rem(6);
  }
}

.toaster-bg__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .headline2 {
    margin-bottom: rem(5);
  }
}

.toaster-bg__close {
  position: absolute;
  top: rem(16);
  right: rem(18);
  opacity: 0.6;
  transition: opacity .3s ease-in-out;
}

.toaster-bg__toast:hover {
  border-color: rgba(0,0,0,0.3);

  .toaster-bg__close {
    opacity: 1;
  }
}