@media print {
  body {
    print-color-adjust: exact !important;
    -webkit-print-color-adjust: exact !important;

    * {
      print-color-adjust: exact !important;
      -webkit-print-color-adjust: exact !important;
    }
  }

  @page {
    margin: 1cm;
  }

  body {
    background: #fff !important;
    color: #000 !important;
  }

  a {
    page-break-inside: avoid;
  }

  blockquote {
    page-break-inside: avoid;
  }

  table,
  pre {
    page-break-inside: avoid;
  }

  ul,
  ol,
  dl {
    page-break-before: avoid;
  }

  header,
  footer {
    display: none;
  }
}