.overlay-grid {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #fff;
  z-index: 9999;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;

  transition: opacity .4s ease-in-out, visibility .4s ease-in-out;

  @include mqBetween(phone-xs, phone-m) {
    display: none;
  }
}

.overlay-grid__column {
  height: 100vh;
  background: #FFBCBC;
  transform: scaleY(0.6);
  transition: transform .55s ease-in-out;
  transition-delay: .4s;

  @include mq(desktop-xs) {
    grid-column: span 1;
  }
}

.overlay-grid__button {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 9999;
  padding: rem(10) rem(9) rem(6) rem(13);
  font-size: rem(10);
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: rem(2);
  
  background: #ed0f0f;

  color: #fff;
  line-height: 1;
  padding: rem(10) rem(9) rem(6) rem(13);

  > * {
    pointer-events: none;
  }
}

.overlay-grid--show {
  opacity: .4;
  visibility: visible;

  transition-delay: .15s;

  .overlay-grid__column {
    transform: scaleY(1);
    transition-delay: .2s;
  }
}
