.spacing {
  @include mq(desktop-m) {
    margin: rem(120) 0;
  }
}

.spacing--top-bottom {
  margin-bottom: 0;
}

.content-grid {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: rem(60) gutter(m);

  @include mq(desktop-xs) {
    gap: rem(120) 0;
  }

  > * {
    grid-column: span 12;
  }
}
